
@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url('~@#{$file}.eot') format('eot'), url('~@#{$file}.woff') format('woff'),
      url('~@#{$file}.ttf') format('truetype');
  }
}

@include font-face(
  'Neuzeit Grotesk',
  '/assets/fonts/neuzeit_grotesk_regular-webfont'
);
@include font-face(
  'Neuzeit Grotesk',
  '/assets/fonts/neuzeit_grotesk_bold-webfont',
  bold
);

@mixin font-family-neuzeit-grotesk {
  font-family: Neuzeit Grotesk, Arial, Verdana, Tahoma, sans-serif;
}

@mixin font-family-default {
  @include font-family-neuzeit-grotesk;
}
