@import './family-fonts';

.search-bar {
  border-radius: 5px;
  border: 1px solid $light-black;
}

input {
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  color: $black;
  font-size: 16px;
}
.word-input {
  border: 0;
  border-bottom: 1.5px solid $black;
  padding: 15px;
  background: #fafafa;

  &:focus {
    //outline: 1px solid darken($green, 50%);
    outline: 0;
    background-color: rgba($green, 0.5);
  }
}

select {
  appearance: none;
  border: 0;
  border-bottom: 1.5px solid $black;
  font-size: 16px;
  width: auto;
  padding: 15px;
  padding-right: 30px;
  background: url('~@/assets/img/arrow-down.svg') no-repeat 90% #fafafa;
  
  &:focus {
    //outline: 1px solid darken($green, 50%);
    outline: 0;
    background-color: rgba($green, 0.5);
  }
}
input,
select {
  @include font-family-default;
}
