.line {
  height: 35px;
  width: 1px;
  background: $black;
  margin: 0 15px;
}
.tag {
  padding: 3px 12px;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 7px;
  cursor: pointer;

  &.green {
    background: $green;
  }
  &.blue {
    background: $blue;
  }
  &.red {
    background: $red;
  }
  &.purple {
    background: $purple;
  }
  &.pink {
    background: $pink;
  }
  &.clear {
    padding: 3px 5px;
    border: 1px $black solid;
  }
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;

  img {
    width: 22px;
  }
  &.green {
    background: $green;
  }
  &.yellow {
    background: $yellow;
  }
  &.red {
    background: $red-delete;
  }
}

h3.h3 {
  margin-bottom: 25px;
}