.elements {
  display: flex;
  align-items: center;

  *:last-child {
    margin-right: 0;
  }
}

.line {
  height: 35px;
  width: 1px;
  background: $black;
  margin: 0 15px;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  transition: ease .3s all;

  img {
    width: 22px;
  }
  &.green {
    background: $green;

    &:hover {
      background: darken($green, 15%);
    }
  }
  &.yellow {
    background: $yellow;

    &:hover {
      background: darken($yellow, 15%);
    }
  }
  &.red {
    background: $red-delete;

    &:hover {
      background: darken($red-delete, 10%);
    }
  }
}

h3.h3 {
  margin-bottom: 25px;
}