h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
p {
  line-height: 1.3;
}
.bold {
  font-weight: bold;
}
