@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'meyer-reset-sass/reset';
@import './variables';
@import './family-fonts';
@import './texts';
@import './miscellaneous';
@import './forms';
@import './generic';