@import "./grid.scss";
@import "./src/assets/scss/variables";

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
h1, h2, h3 {
    text-transform: uppercase;
  letter-spacing: 1px;
}

.line {
height: 40px;
width: 1px;
background: $black;
margin: 0 15px;
}
.tag {
padding: 3px 12px;
font-size: 12px;
letter-spacing: 1px;
color: black;
text-transform: uppercase;
font-weight: bold;
border-radius: 5px;

&.green {
    background: $green;
}
&.blue {
    background: $blue;
}
&.clear {
    padding: 3px 5px;
    border: 1px $black solid;
}
}

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;

    img {
        width: 22px;
    }
    &.green {
        background: $green;
    }
    &.yellow {
        background: $yellow;
    }
  }